body{
    background-color: rgba(156, 167, 172, 0.897);
    font-family: 'Roboto Condensed', sans-serif;

}

.weather-app{
    background: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(123, 112, 148, 0.08);
    border-radius: 16px;
    padding: 30px;
}

a{
    color: rgb(173, 99, 111);

}

header{
    border-bottom:1px solid rgba(123, 112, 148, 0.08);
    padding: 0 0 30px 0;
}

.search-form-input{
    background-color:rgba(156, 167, 172, 0.897);
    border:none;
    border-radius: 6px;
    width:80%;
    font-size: 16px;
    padding:15px 20px;
}

.search-form-button{
    background-color: rgb(204, 70, 70);
    padding: 15px 20px;
    border: none;
    margin-left:5px;
    font-size: 16px;
    border-radius: 6px;
    color: rgb(255, 255, 255);
}
main{
    padding:30px 0;
}

.weather-app-city{
    margin: 0;
    font-size: 38px;
    line-height:48px;
}

.weather-app-details{
    font-size: 16px;
    font-weight: 500px;
    line-height:24px 0;
    color:rgb(167, 9, 35);
}

.weather-app-details strong{
    color:rgb(88, 14, 14);
}

.weather-app-temperature-container{
    display:flex;

    
}

.weather-app-icon{
    width:80px;
    height:88px;
    margin-top: 22px;

}

.weather-app-temperature{
    font-size: 88px;
    line-height: 88px;
    font-weight: bold;
}


.weather-app-unit{
    margin-top:6px;
    font-size:28px;
}

.weather-app-temperature-value{
    font-size:88px;
    font-weight:bold;
}

.weather-app-data{
    display:flex;
    justify-content: space-between;
}


footer{
    border-top:1px solid rgba(123, 112, 148, 0.08);
    padding: 30px 0;
    text-align: center;
    font-size: 15px;
    color-scheme: rgba(0, 0, 0);
}